@model MusicApp.Models.Lessons

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lessons</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instruments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instruments.InstrumentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTY.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonTY.Term)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTY.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonTY.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDT.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonDT.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Durations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Durations.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
