@model IEnumerable<MusicApp.Models.Lessons>

@{
    ViewData["Title"] = "Lessons";
}

<h1>Lessons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Lessons" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonTY.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonTY.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonDT.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonDT.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruments.InstrumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTY.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTY.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDT.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDT.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durations.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Letters" asp-action="Index">Letter</a>
            </td>
        </tr>
        }
    </tbody>
</table>
