@model IEnumerable<Ass1.Models.Lesson>

@{
    ViewData["Title"] = "Lesson";
}

<h1>Lesson List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Lessons" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationCost.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationCost.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationCost.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationCost.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Letter" asp-route-id="@item.Id">Letter</a>
                </td>
            </tr>
        }
    </tbody>
</table>
